@page "/comparedata"
@using MetaCarsWebAssembly.Classes
@inject HttpClient Http

<PageTitle>AI vs You!</PageTitle>
<div style="display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: flex-start;align-items: center;align-content: center;">
<RadzenDataList AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "width: 40%;overflow:auto;" : "")" 
                    WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)"
                    Data="@results" TItem="Result" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
        <Template Context="result">
            <RadzenCard Style="width: 100%; padding: 0;">
                <RadzenRow Gap="0">
                    <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-secondary">AI score:</RadzenText>
                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-secondary">@result.AiScore</RadzenText>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-secondary">User score:</RadzenText>
                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-secondary">@result.UserScore</RadzenText>
                    </RadzenColumn>
                    <RadzenColumn Style="padding: 1%;" Size="12" SizeMD="6" SizeLG="6">
                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Submitted by:</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body2">@result.Username</RadzenText>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
        </Template>
    </RadzenDataList>
</div>
@code {
    bool allowVirtualization = true;

    List<Result> results = new List<Result>();

    protected override async Task OnInitializedAsync()
    {
        results.Add(new Result()
        {
            AiScore= "100%", UserScore= "100%", Username = "Karlo"
        });
        results.Add(new Result()
        {
            AiScore= "100%", UserScore= "100%", Username = "Karloo"
        });
        results.Add(new Result()
        {
            AiScore= "100%", UserScore= "100%", Username = "Karlooo"
        });
        await base.OnInitializedAsync();

        //products = dbContext.Products.Include("Category").Include("Supplier").ToList();
    }
}